html
    head
        title Sklep
        link(rel='stylesheet' href='/css/home.css')
    body
        div#wrapper
            div#header
               h2 System zarządania sklepem

        div#nav
            ol
                li Produkty
                    ul
                        li
                            a(href="/productCreate") Dodaj
                        li
                            a(href="/productShowEdit") Wyświetl/Edytuj
                li Zamówenia
                    ul
                        li
                            a(href="/orderCreate") Dodaj
                        li
                            a(href="/orderShowEdit") Wyświetl/Edytuj
                li Reklamacje
                    ul
                        li
                            a(href="/complaintCreate") Dodaj
                        li
                            a(href="/complaintShowEdit") Wyświetl/Edytuj
                li Dostawy
                    ul
                        li
                            a(href="/delivery") Wyświetl
                li Magazyn
                    ul
                        li
                            a(href="/storehouse") Wyświetl

                li Klient
                    ul
                        li
                            a(href="/customersShowEdit") Wyświetl


        div#content
            p(style="text-align:center;") Za pomocą tego systemu możesz w prosty sposób kontrolować swój sklep.
            p(style="text-align:center;") Wybierając odpowiednie pozycje z menu powyżej możesz kontrolować różne aspetky sklepu.
            p Produkty - dodawanie, edycja oraz usuwanie produktów.
            p Zamówenia - dodawanie, edycja oraz usuwanie zamówień.
            p Reklamacje - dodawanie, kończenie oraz usuwanie reklamacji.
            p Dostawy - lista dostaw produktów do sklepu.
            p Magazyn - aktualny stan magazynu.